TOKEN_AMO = 'Токен в amoCRM'

FLASK_DEBUG=1  # Фласк сам, с помощью dotenv подтянет, 1 == True, 0 == False
FLASK_APP=main.py  # для запуска проекта командой flask run
FLASK_ENV=development  # режим разработки
SECRET_KEY=YOUR_SECRET_KEY  # не обязательно, но присутствие лучше

FLASK_RUN_HOST=127.0.0.1  # стандарт
FLASK_RUN_PORT=5000  # стандарт